/** variables **/
:root {
  --PrimaryBlue: #355C7D
}

/** elements **/
h1 {
  color: rgba(0,0,0,.7);
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0;
  padding: 2rem 0;
  color: white;
}

.App {
  background: 'rgba(0,0,0,.1)';
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.o-btn-link {
  border: none;
  outline: none;
  background: transparent;
  color: var(--PrimaryBlue);
  text-decoration: underline;
  cursor: pointer;
}

.c-products {
  padding: 2rem;
}

.c-filters__adv {
  padding: 2rem 0;
}